modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyBJY4oWuqCCWv73Q3UIF4aLhVWwbZvn9Lk"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "tvtantrum-yt-app.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "tvtantrum-yt-app"
FIREBASE_PROJECT_ID = "tvtantrum-yt-app"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@tvtantrum-yt-app.iam.gserviceaccount.com"
